<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/script.js"></script>
    <script defer src="js/navScript.js"></script>
    <!-- <script src="js/forecast.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/main.css"></link>
    <title>WeatherStation</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="container">
        <div class="sidebar">
            <h2>Sidebar</h2>
            <p>This is the sidebar content.</p>
        </div>
    <main>
      <%- body %>
      <p>This is the main content area.</p>
    </main>
  </div>
  <footer>
    <p>&copy; 2023 Your Company. All rights reserved.</p>
  </footer>

</body>
</html>