<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="js/navScript.js"></script>
    <title>Weather Station</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="main">
        <aside class="left">
            Left
        </aside>
        <main>
            Main
        </main>
        <aside class="right">
            right
        </aside>
    </div>
    <%- include('../partials/footer.ejs') %>
    
</body>
</html>